.footer {
  background-color: #292929;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-main-section {
  background-color: #292929;
  color: #fff;
  padding: 2rem;
  width: 70%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section.contact-info img {
  margin-bottom: 2rem;
}

.footer-section h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffd700;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}

.contact-item img {
  width: 24px;
  height: 24px;
}

.contact-item span {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
}

.footer-section.hot-menu h3 {
  margin: 2rem 0;
  color: white;
  font-family: "Barlow", serif;
  font-weight: 500;
  font-style: normal;
}

.hot-menu ul {
  list-style-type: none;
}

.hot-menu ul li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
}

.instagram-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.instagram-images img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.footer-section.instagram h3 {
  margin: 2rem 0;
  color: white;
  font-family: "Barlow", serif;
  font-weight: 500;
  font-style: normal;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid #333;
  padding-top: 1rem;
  width: 70%;
}

.footer-bottom img {
  padding: 0.5rem;
  width: 50px;
  margin-left: 1rem;
}

.footer-bottom p{
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  
  .footer-section h3 {
    font-size: 1.5rem;
  }
  
  .contact-item span {
    font-size: 1rem;
  }
  
  
  .hot-menu ul li {
    font-size: 1rem;
  }
  
  .footer-bottom p{
    font-size: 0.8rem;
  }

  .footer-bottom img {
    padding: 0;
    width: 20px;
  }

}

