*{
    font-family: "Roboto Condensed", serif;
}
.order-header {
  background-color: #ce2829;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.order-logo {
  height: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.order-header-nav {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: left;
  width: 50%;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 2rem;
}

.order-header-nav .current-page {
  font-weight: bold;
}

.order-container {
  padding: 2rem;
  max-width: 800px;
  width: 50%;
  margin: 0 auto;
}

.order-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #292929;
}

.order-price-and-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.order-price {
  font-size: 1.5rem;
  color: #292929;
  font-weight: bold;
  margin-bottom: 1rem;
}

.order-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rating-value {
  font-size: 0.9rem;
  color: #5f5f5f;
}

.rating-count {
  font-size: 0.9rem;
  color: #5f5f5f;
}

.order-description {
  margin-bottom: 2rem;
  color: #5f5f5f;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1;
}

.form-group p,
.form-group label {
  color: #292929;
}

.form-group p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.required {
  color: #ce2829;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.radio-label {
  color: #5f5f5f;
}

.radio-option {
  display: block;
  margin-bottom: 0.5rem;
}

textarea,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.toppings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.checkbox-text {
  color: #5f5f5f;
}

.helper-text {
  font-size: 0.9rem;
  color: white;
  margin-top: 0.5rem;
}

#toppings-helper-text {
  color: #5f5f5f;
}

.quantity-and-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    gap: 1rem;
    flex-wrap: wrap;
  }

.quantity-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantity-group button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #292929;
  background-color: #FDC913;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-group button:hover {
  background-color: #a12121;
}

.order-summary {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    max-width: 300px;
    font-family: "Roboto Condensed", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  .order-summary h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #333;
  }
  

  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #333;
  }
  
  .summary-item.total {
    font-weight: bold;
    color: #ce2829; 
  }

.order-button {
  padding: 1rem;
  background-color: #FDC913;
  color: #292929;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #e5b700;
}

label[for="name"] {
  margin-right: 1rem;
}

.form-error {
  color: #ce2829;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
}

.hr{
    width: 100%;
    height: 5px:
}

@media screen and (max-width: 768px) {
  .order-container {
    width: 100%;
    padding: 2rem;
  }
  .order-header-nav {
    width: 100%;
    padding: 0 2rem;
  }

  .quantity-and-summary {
    flex-direction: column;
    align-items: center;
  }

  .quantity-group {
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  .order-summary {
    width: 100%;
  }
}


@media screen and (min-width: 769px) {
    .quantity-and-summary {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .quantity-group {
      width: auto;
    }
  
    .order-button {
      width: 100%;
      margin-top: 0;
    }
  }
