*{
  font-family: "Barlow", serif;
  font-style: normal;
}
.order-header {
  background-color: #ce2829;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

.order-logo {
  height: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

main{
  background: #FAF7F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-banner{
  padding: 0 2rem;
  max-width: 800px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.order-banner img{
  width: 100%;
  height: 60%;
  margin-top: 0;
  margin-bottom: 20px;
}

.order-header-nav {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem 0;
}

.order-header-nav .current-page {
  font-weight: bold;
  color: #CE2829;
}

.order-container {
  padding: 2rem;
  max-width: 800px;
  width: 50%;
  margin: 0 auto;
}

.order-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem 0;
  color: #292929;
}

.order-price-and-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.order-price {
  font-size: 2rem;
  color: #292929;
  font-weight: bold;
}

.order-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rating-value {
  font-size: 1.2rem;
  color: #5f5f5f;
}

.rating-count {
  font-size: 1.2rem;
  color: #5f5f5f;
}

.order-description {
  margin-bottom: 2rem;
  color: #5f5f5f;
  font-size: 1.5rem;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group-row {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.form-group {
  flex: 1;
}

.form-group p,
.form-group label {
  color: #292929;
}

.form-group p {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.required {
  color: #ce2829;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.radio-group{
  display: flex;
  gap: 1rem;
}

.radio-option {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: #FAF7F2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.radio-option input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.radio-option .radio-label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease, background-color 0.3s ease;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.radio-option input:checked + .radio-label {
  background-color: #FDC913;
  color: #000;
}

.radio-option:hover .radio-label {
  background-color: #e6e6e6;
}


textarea,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.crust-selector {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;
}

select {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #FAF7F2;
  color: #5f5f5f;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select:focus {
  outline: none;
  border-color: #FDC913;
  background-color: #fff;
}

.select-wrapper::after {
  content: "▼";
  font-size: 0.8rem;
  color: #5f5f5f;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
}


.toppings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
}

.checkbox-label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox-label .checkbox-text {
  margin-left: 10px;
  color: #292929;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  min-width: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #FAF7F2;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox.checked {
  background-color: #FDC913;
  border-color: #FDC913;
}

.custom-checkbox::after {
  content: "✓";
  font-size: 0.9rem;
  color: #292929;
  font-weight: bold;
  display: none;
}

.custom-checkbox.checked::after {
  display: block;
}

.helper-text {
  font-size: 0.9rem;
  color: white;
  margin-top: 0.5rem;
}

#toppings-helper-text {
  color: #5f5f5f;
}

textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", serif;
  background-color: #faf7f2;
  color: #292929;
  box-shadow: none;
  resize: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  margin-top: 1rem;
}

textarea:focus {
  outline: none;
  border-color: #FDC913;
  background-color: #fff; 
}

input[type="text"] {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1.5rem;
  font-family: "Roboto Condensed", serif;
  background-color: #faf7f2;
  color: #292929;
  box-shadow: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  margin-top: 1rem;
}

input[type="text"]:focus {
  outline: none;
  border-color: #FDC913;
  background-color: #fff;
}

input[type="text"]::placeholder {
  color: #a8a8a8;
  font-style: italic;
}


.name-note label{
  font-size: 1.5rem;
  font-weight: bold;
}


.quantity-and-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    gap: 1rem;
    flex-wrap: wrap;
  }

.quantity-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #FAF7F2;
}

.quantity-group button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #292929;
  background-color: #FAF7F2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-group button:hover {
  background-color: #FDC913;
}

.order-summary {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    max-width: 300px;
    font-family: "Roboto Condensed", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FAF7F2;
  }
  

  .order-summary h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #333;
  }
  

  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #333;
  }
  
  .summary-item.total {
    font-weight: bold;
    color: #ce2829; 
  }

.order-button {
  padding: 1rem;
  background-color: #FDC913;
  color: #292929;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #e5b700;
}

label[for="name"] {
  margin-right: 1rem;
}

.form-error {
  color: #ce2829;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

.hr{
    width: 100%;
    height: 5px:
}

@media screen and (max-width: 768px) {

  .order-container {
    width: 100%;
    padding: 2rem;
  }

  .order-header-nav {
    width: 100%;
    padding: 1rem 0;
  }

  .quantity-and-summary {
    flex-direction: column;
    align-items: center;
  }

  .quantity-group {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .order-summary {
    width: 100%;
  }

  .order-banner{
    width: 100%;
  }

  .radio-option{
    width: 40px;
    height: 40px;
  }


  .order-description {
    font-size: 1rem;
  }
  
  .order-header-nav {
    font-size: 0.9rem;
  }
  
  
  .order-title {
    font-size: 2rem;
  }
  
  .order-price {
    font-size: 1.5rem;
  }
  
  
  .rating-value {
    font-size: 0.9rem;
  }
  
  .rating-count {
    font-size: 0.9rem;
  }
  
  .form-group p {
    font-size: 1rem;
  }
  
  
    .radio-option .radio-label {
      font-size: 1rem;
    }
    
    
    select {
      font-size: 1rem;
    }
    
    .select-wrapper::after {
      font-size: 0.8rem;
    }
    
    
    
    .custom-checkbox::after {
      font-size: 0.9rem;
    }
    
    .helper-text {
      font-size: 0.9rem;
    }
    
    textarea {
      font-size: 1rem;
    }
    
    input[type="text"] {
      font-size: 1rem;
    }
    
    .quantity-group button {
      font-size: 1.2rem;
    }
      
    
      .order-summary h3 {
        font-size: 1.2rem;
      }
      
    
      .summary-item {
        font-size: 1rem;
      }
    
    .order-button {
      font-size: 1.2rem;
    }
    
    .form-error {
      font-size: 0.9rem;
    }
    
      .order-header-nav {
        font-size: 0.9rem;
      }
      
      .order-title {
        font-size: 2rem;
      }
      
      .order-price {
        font-size: 1.5rem;
      }
      
      .rating-value {
        font-size: 0.9rem;
      }
      
      .rating-count {
        font-size: 0.9rem;
      }
      
      .radio-option .radio-label {
        font-size: 1rem;
      }
      
      select {
        font-size: 1rem;
      }
      
      .select-wrapper::after {
        font-size: 0.8rem;
      }
      
      .custom-checkbox::after {
        font-size: 0.9rem;
      }

      .checkbox-label{
        font-size: 1rem;
      }
      
      .helper-text {
        font-size: 0.9rem;
      }
      
      textarea {
        font-size: 1rem;
      }
      
      input[type="text"] {
        font-size: 1rem;
      }
      
      .name-note label{
        font-size: 1rem;
        font-weight: bold;
      }
      
      .quantity-group button {
        font-size: 1.2rem;
      }
    
      .order-summary h3 {
        font-size: 1.2rem;
      }
        
      
      .summary-item {
        font-size: 1rem;
      }
      
      .order-button {
        font-size: 1.2rem;
      }
    
      .form-error {
        font-size: 0.9rem;
      }
    
  

}

